.paragraph1{
 font-family: 'Times New Roman', Times, serif;
 font-size: large;
 color: blue;
}
.Heading2{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: blueviolet;
}
.Heading3{
   font-family: 'Times New Roman', Times, serif;
   font-size: larger;
   color: coral;

}